<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="the_welcome">

  <p>Welcome to mylottopix.com.  Who hasn't dreamed of hitting the lottery?  But are you playing the right numbers?  Whether you know it or not or whether you believe it or not, there is a pattern of numbers that detail who you are.  The second you are born, the government issues you a a nine digit number so they can keep track of you your entire life, we have phone numbers that friends and family punch in on a keypad so they can talk with us.  When we write our birthdate we often do it with numbers.  The house or apartment you live in has a number associated with it, so does your car or the bus you ride.</p>

  <p>Everybody's number pattern will be different.  Are you generating lottery tickets based off of your number pattern?  What is your number pattern? Do you even know?  Once a number pattern has been established, with a single click of a button, you can generate tickets for a three digit, four, digit, or mega lottery.</p>
  

</div>


<!-- <div = id="state_keys_label">STATE KEYS:</div>

<div class="first_ten">
  OH - 1
  AL - 2
  AZ - 3
  AR - 4
  CA - 5
  CO - 6
  CT - 7
  DE - 8
  FL - 9
  GA - 10
</div>

<div class="first_ten">
  HI - 11
  ID - 12
  IL - 13
  IN - 14
  IA - 15
  KS - 16
  KY - 17
  LA - 18
  ME - 19
  MD - 20
</div>

<div class="first_ten">
  MA - 21
  MI - 22
  MN - 23
  MS - 24
  MO - 25
  MT - 26
  NE - 27
  NV - 28
  NH - 29
  NJ - 30
</div>

<div class="first_ten">
  NM - 31
  NY - 32
  NC - 33
  ND - 34
  OK - 35
  OR - 36
  PA - 37
  RI - 38
  SC - 39
  SD - 40
</div>

<div class="first_ten">
  TN - 41
  TX - 42
  UT - 43
  VT - 44
  VA - 45
  WA - 46
  WV - 47
  WI - 48
  WY - 49
  AK - 50
</div> -->

<div class="devise_form">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :fname %>
  </div>



    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>


