<div class="edit_warning"><h2><%= current_user.fname %>, remember to write only NUMBERS in your diary fields.  Leave all other characters and spaces out.  For security reasons remember to jumble answers or separate answers across several fields.  Also feel free to edit your diary at any time, if you have been seeing the number 9 all day lets say and you want to increase the chances of 9 coming out in your lottery picks, you can do that by just spamming a bunch of 9's into any of the fields.  Just remember to hit the UPDATE BUTTON when finsihed. </h2></div>

<div class='form_wrapper'>
	<%= form_for @user.diary do |f| %>
	<%= f.hidden_field :user_id, :value => @user.id %>
	<div class='edit_label'> Birthday:</div>
		<div><%=f.text_field :birthdate, class: 'edit_field' %></div>
	<div class='edit_label'> Cell Phone#:</div>
		<div><%=f.text_field :cell, class: 'edit_field' %></div>
	<div class='edit_label'> #'s in adress:</div>
		<div><%=f.text_field :address, class: 'edit_field' %></div>
	<div class='edit_label'> zipcode:</div>
		<div><%=f.text_field :zipcode, class: 'edit_field' %></div>
	<div class='edit_label'> age:</div>
		<div><%=f.text_field :age, class: 'edit_field' %></div>
	<div class='edit_label'> Sig. Other Bday:</div>
		<div><%=f.text_field :partner_birthdate, class: 'edit_field' %></div>
	<div class='edit_label'> Work Addr:</div>
		<div><%=f.text_field :work_addr, class: 'edit_field' %></div>
	<div class='edit_label'> Badge/Work ID #:</div>
		<div><%=f.text_field :work_num, class: 'edit_field' %></div>
	<div class='edit_label'> Apt. #:</div>
		<div><%=f.text_field :apt_num, class: 'edit_field' %></div>
	<div class='edit_label'> # Of Kids:</div>
		<div><%=f.text_field :kids, class: 'edit_field' %></div>
	<div class='edit_label'> Kids Bday:</div>
		<div><%=f.text_field :kids_birth, class: 'edit_field' %></div>
	<div class='edit_label'> Lucky Numbers:</div>
		<div><%=f.text_field :lucky_nums, class: 'edit_field' %></div>
	<div class='edit_label'> license_plate:</div>
		<div><%=f.text_field :license_plate, class: 'edit_field' %></div>
	<div class='edit_label'> Time You Wake Up:</div>
		<div><%=f.text_field :wake_up, class: 'edit_field' %></div>
	<div class='edit_label'> Sensitive #'s Jumbled:</div>
		<div><%=f.text_field :sensitive, class: 'edit_field' %></div>
	<div class='action_button'> <%= f.submit %></div>

	<% end %>
</div>
