<h2>Edit form</h2>

<%= form_for @user.diary do |f| %>
<%= f.hidden_field :user_id, :value => @user.id %>
<div> Birthday:<%=f.text_field :birthdate %></div>
<div> Cell Phone#:<%=f.text_field :cell %></div>
<div> #'s in adress:<%=f.text_field :address %></div>
<div> zipcode:<%=f.text_field :zipcode %></div>
<div> age:<%=f.text_field :age %></div>
<div> Sig. Other Bday:<%=f.text_field :partner_birthdate %></div>
<div> Work Addr:<%=f.text_field :work_addr %></div>
<div> Badge/Work ID #:<%=f.text_field :work_num %></div>
<div> Apt. #:<%=f.text_field :apt_num %></div>
<div> # Of Kids:<%=f.text_field :kids %></div>
<div> Kids Bday<%=f.text_field :kids_birth %></div>
<div> Lucky Numbers:<%=f.text_field :lucky_nums %></div>
<div> license_plate:<%=f.text_field :license_plate %></div>
<div> Time You Wake Up<%=f.text_field :wake_up %></div>
<div> Sensitive #'s Jumbled<%=f.text_field :sensitive %></div>
<div> <%= f.submit %></div>

<% end %>