<div class="the_welcome">
	<p>Below is a form that will collect all the numbers that define you and surround you in society.  Think of the form as a guide.  Feel free to enter any numbers you feel mean something to you anywhere in the form.

</div>

<div id="new_form">

<%= form_for @diary do |f| %>
<%= f.hidden_field :user_id, :value => @user.id %>
<div> Birthdate:<%=f.text_field :birthdate %></div>
<div> Cell:<%=f.text_field :cell %></div>
<div> Address:<%=f.text_field :address %></div>
<div> Zipcode<%=f.text_field :zipcode %></div>
<div> Age<%=f.text_field :age %></div>
<div> Spouse's Bday: <%=f.text_field :partner_birthdate %></div>
<div> Work Addr:<%=f.text_field :work_addr %></div>
<div> Work Badge/ID#:<%=f.text_field :work_num %></div>
<div> Apt.#:<%=f.text_field :apt_num %></div>
<div> # of Kids:<%=f.text_field :kids %></div>
<div> Kids' Birthdays: <%=f.text_field :kids_birth %></div>
<div> Lucky #'s:<%=f.text_field :lucky_nums %></div>
<div> License Plate #'s<%=f.text_field :license_plate %></div>
<div> Wake Up Time For Work: <%=f.text_field :wake_up %></div>
<div> Sensitive #'s<%=f.text_field :sensitive %></div>
	<%=f.submit %>

<% end %>
</div>
