<h3>Diary Show Page</h3>


<%= render 'edit' %>

<div id="hiddenForm">
	<%= render 'new' %>
</div>

<div id='three_digit'></div>
<div id='four_digit'></div>
<div id='mega'></div>

<div id = "container1">
	<div class="num_label" id="zeros"></div>
	<div class="num_label" id="ones"></div>
	<div class="num_label" id="twos"></div>
	<div class="num_label" id="threes"></div>
	<div class="num_label" id="fours"></div>
	<div class="num_label" id="fives"></div>
	<div class="num_label" id="sixes"></div>
	<div class="num_label" id ="sevens"></div>
	<div class="num_label" id="eights"></div>
	<div class="num_label" id="nines"></div>
</div>

<input id="pick3" type="submit" value="Pick 3">
<input id="pick4" type="submit" value="Pick 4">
<input id="mTick" type="submit" value="Mega Lott.">




<div id="users_three">
	<% @user.three_digit_draws.last(10).uniq.reverse.each do |t| %>
		<%= t.pick_three %><br>
	<% end %>
</div>

<div id="users_four">
	<% @user.four_digit_draws.uniq.reverse.each do |t| %>
		<%= t.pick_four %><br>
	<% end %>
</div>

<div id="users_mega">
	<% @user.mega_draws.uniq.reverse.each do |t| %>
		<%= t.mega_draw %><br>
	<% end %>
</div>

<div id='ticket_three'>
	<%= @user.three_digit_draws.last.pick_three %>
</div>

<div id='ticket_four'>
	<%= @user.four_digit_draws.last.pick_four %>
</div>

<div id='ticket_mega'>
	<%= @user.mega_draws.last.mega_draw %>
</div>






<script src="/assets/diary_show.js"></script>


