

<div id="state_results">
	<% if @state.name == "Mega Lottery" %>

		<h3>Lottery Results for <%= @state.name %></h3>
		<div id="threeResult">Powerball: <%= @state.three_digit %></div>
		<div id="fourResult">Mega Millions: <%= @state.four_digit %></div>

		<% else %>

		<h3>Lottery Results for <%= @state.name %></h3>
		<div id="threeResult">Pick 3: <%= @state.three_digit %></div>
		<div id="fourResult">Pick 4: <%= @state.four_digit %></div>

		<% end %>
</div>

<% if current_user.admin == true %>
<%= render "edit" %>
<% end %>




