
	<% if !current_user.diary %>
		<div id="form_intro">To begin, you must fill in your compu-pix form.  The form lists areas where a number may define you or be associated with you.  Feel free to enter up to 18 digits in any field.  This is your chance to control your personl compu-pix.</div>
		<div id='create_diary'><%= link_to "My Compu-pix Form", new_diary_path %></div>
		<% else %>
		<div class="edit_warning"><h2><%= current_user.fname %>, remember to write only NUMBERS in your Compu-pix fields.  Leave all the "/" ":" "-" out of your answers.</h2></div>
		<%= render 'edit' %>
	<% end %>





<div class='draw_totals'>Three Digit Draws:
	<%= @user.three_digit_draws.count %>
</div>

<div class='draw_totals'>Four Digit Draws:
	<%= @user.four_digit_draws.count %>
</div>

<div class='draw_totals'>Mega Draws:
	<%= @user.mega_draws.count %>
</div>

<div id='proflinks'>

<%= link_to 'Delete Account', user_registration_path, method: :delete %>
<%= link_to 'Update Account', edit_user_registration_path %>

</div>