
	<% if !current_user.diary %>
		<div id="form_intro"><%= @user.fname %>, to begin you must fill in your quick picks form.  The form extracts numbers that may define you or be associated with you, but you can write any numbers you want into the form.</div>
		<div id='create_diary'><%= link_to "My Number Diary", new_diary_path %></div>
		<% else %>
		<div id="profInfo">
			
			<div id="profName">Name: <%= @user.fname %></div>
			<div id="threeDigitProf">3 Digit Draws: <%= @user.three_digit_draws.count %></div>
			<div id="fourDigitProf">4 Digit Draws: <%= @user.four_digit_draws.count %></div>
			<div id="megaProf">Mega Draws: <%= @user.mega_draws.count %></div>


		</div>


	<% end %>





<!-- <div class='draw_totals'>3 Digit Compu-pix:
	<%= @user.three_digit_draws.count %>
</div>

<div class='draw_totals'>4 Digit Compu-pix:
	<%= @user.four_digit_draws.count %>
</div>

<div class='draw_totals'>Mega Compu-Pix:
	<%= @user.mega_draws.count %>
</div> -->

<div id='proflinks'>

<%= link_to 'Delete Account', user_registration_path, method: :delete %>
<%= link_to 'Update Account', edit_user_registration_path %>

</div>