
	<% if !current_user.diary %>
		<div id="form_intro">To begin, you must fill in your compu-pix form.  The form extracts numbers that may define you or be associated with you in your life.  You can also just use the form to set your Compu-Pix probabilities to the range you wish.</div>
		<div id='create_diary'><%= link_to "My Compu-pix Form", new_diary_path %></div>
		<% else %>
		<div class="edit_warning"><h2><%= current_user.fname %>, remember to write only NUMBERS in your Compu-pix fields.  Leave all the "/" ":" "-" out of your answers.</h2></div>
		<%= render 'edit' %>
	<% end %>





<div class='draw_totals'>3 Digit Compu-pix:
	<%= @user.three_digit_draws.count %>
</div>

<div class='draw_totals'>4 Digit Compu-pix:
	<%= @user.four_digit_draws.count %>
</div>

<div class='draw_totals'>Mega Compu-Pix:
	<%= @user.mega_draws.count %>
</div>

<div id='proflinks'>

<%= link_to 'Delete Account', user_registration_path, method: :delete %>
<%= link_to 'Update Account', edit_user_registration_path %>

</div>